In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [ ]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Visit the website
url = 'https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html'
browser.visit(url)

In [ ]:
# Create a Beautiful Soup Object
html = browser.html
soup_temps = soup(html, 'html.parser')

In [ ]:
# Extract all rows of data
data_rows = soup_temps.find_all('tr', class_ = 'data-row')
data_rows

In [ ]:
# Create an empty list
data_list = []
# Loop through the scraped data to create a list of rows
for i in data_rows:
    tdlist = i.find_all('td')
    row = [i.text for i in tdlist]
    data_list.append(row)

data_list

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
columns = ['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure']
mars_df= pd.DataFrame(data_list[1:], columns = columns)

In [ ]:
# Confirm DataFrame was created successfully
mars_df

In [ ]:
# Examine data type of each column
mars_df.dtypes

In [ ]:
# Change data types for data analysis
mars_df = mars_df.astype({'id': 'int', 'sol':'int', 'ls': 'int', 'month': 'int', 'min_temp': 'float', 'pressure':'float'})
mars_df['terrestrial_date'] = pd.to_datetime(mars_df['terrestrial_date'])

In [ ]:
# Confirm type changes were successful by examining data types again
mars_df.dtypes

In [ ]:
# 1. How many months are there on Mars?
mars_df['month'].nunique()

In [ ]:
# 2. How many Martian days' worth of data are there?
mars_df['sol'].nunique()

In [ ]:
# 3. What is the average low temperature by month?
mars_df.groupby('month')['min_temp'].mean()

In [ ]:
# Plot the average temperature by month
mars_df.groupby('month')['min_temp'].mean().plot(kind='bar', title= 'Average temperature by month')

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
mars_df.groupby('month')['min_temp'].mean().sort_values()

In [ ]:
# 4. Average pressure by Martian month
mars_df.groupby('month')['pressure'].mean()

In [ ]:
# Plot the average pressure by month
mars_df.groupby('month')['pressure'].mean().plot(kind='bar', title='Average pressure by Month')

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
mars_df.plot(x='sol', y='min_temp', title='Number of earth days')

In [ ]:
# Write the data to a CSV
mars_df.to_csv('mars_weather.csv', index=False)